In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
##Importing Pandas and numpy libraries to help analyze data
# converting file path into string readable by python by using 'r'

df = pd.read_csv(r"C:\Users\revan\Desktop\Book1.csv")
df.head()

           Race  Offenses     Male  Female  Unknown
0  Total         15129.0   11862.0  3222.0  45.0
1  White         6579.0    4616.0   1958.0  5.0
2  Black         7851.0    6789.0   1060.0  2.0
3  Other race    456.0     315.0    141.0   0.0
4  Unknown race  243.0     142.0    63.0    38.0

In [39]:
rate=[df['Offenses'],df['Male'],df['Female'],df['Unknown']]
print(rate)

[0    15129.0
1    6579.0
2    7851.0
3    456.0
4    243.0
5    2354.0
6    9761.0
7    2085.0
Name: Offenses, dtype: float64, 0    11862.0
1    4616.0
2    6789.0
3    315.0
4    142.0
5    1899.0
6    7692.0
7    1550.0
Name: Male, dtype: float64, 0    3222.0
1    1958.0
2    1060.0
3    141.0
4    63.0
5    454.0
6    2065.0
7    510.0
Name: Female, dtype: float64, 0    45.0
1    5.0
2    2.0
3    0.0
4    38.0
5    1.0
6    4.0
7    25.0
Name: Unknown, dtype: float64]